extends common/base

block title
    | git api

block main
    .wrapper
        h1.title Git api
        form.login(id = "login-form")
            fieldset.login__fieldeset
                legend.login__legend Enter name
                label.login__label(for = "username") Name
                input.login__input(name = "username" id = "username")
            fieldset.login__fieldeset
                legend.login__legend Select type (name/company)
                input.login__radio(type = "radio", name = "usertype", id = "u-name" value = "users")
                label.login__label(for = "u-name") User
                input.login__radio(type = "radio", name = "usertype", id = "c-name" value = "orgs")
                label.login__label(for = "c-name") Company
            button.btn.login__btn(type = "submit") Send


        include components/projects
    button.btn.back-btn.visually-hidden New search
    .messages.visually-hidden