
body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background: #ffffff;
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    color: #333;
    font-family: Courier New, Courier, monospace;
}

.login {
    position: relative;
    width: 320px;
    font-family: Courier New, Courier, monospace;
    color: #337ab7;
}

.login__legend {
    font-size: 1rem;
    font-weight: 700;
}

.login__fieldeset {
    border: 2px solid #337ab7;
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: 700;
}

.login__label {
    font-size: 0.9rem;
    font-weight: 300;
    cursor: pointer;
}

.login__input {
    width: 200px;
    color: #333;
    border: 1px solid #337ab7;
    font-size: 0.8rem;
    font-weight: 700;
}

.login__btn {
    display: block;
    padding: 7px 20px;
    border: 2px solid #337ab7;
    color: #337ab7;
    background-color: rgba(51, 122, 183, 0.30);
    font-family: Courier New, Courier, monospace;
    font-size: 0.8rem;
    font-weight: 700;
    transition: background-color, color 300ms ease-out;

}
.login__btn:hover {
    cursor: pointer;
    background-color: rgba(51, 122, 183, 0.75);
    color: #ffffff;
}

.messages {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 5px 10px;
    max-width: 300px;
    min-height: 40px;
    font-family: Courier New, Courier, monospace;
    font-size: 0.8rem;
    background-color: #ffffff;
    transition: display 300ms ease-out;
}
.messages_ok {
    color: #29B769;
}
.messages_err {
    color: #B73027;
}

.messages_hide {
    display: none;
}
.login__msg.messages{
    top: 102%;
    left: 0;
}



