body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background: #ffffff;
}
.wrapper {
    position: relative;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #333;
    font-family: Courier New, Courier, monospace;
}

.visually-hidden { /* :not(:focus):not(:active) */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn {
    display: block;
    padding: 7px 20px;
    border: 2px solid #337ab7;
    color: #337ab7;
    background-color: rgba(51, 122, 183, 0.30);
    font-family: Courier New, Courier, monospace;
    font-size: 0.8rem;
    font-weight: 700;
    transition: background-color, color 300ms ease-out;
}
.btn:hover {
    cursor: pointer;
    background-color: rgba(51, 122, 183, 0.75);
    color: #ffffff;
}


.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
}
.messages{
    position: fixed;
    top: 50px;
    left: 5px;
    padding: 15px;
    border: 1px solid #e9bbad;
    border-radius: 4px;
    color: #f0cdbb;
    background-color: #c3625e;
    font-size: 0.8rem;
    font-family: Courier New, Courier, monospace;
    font-weight: 700;
}