.login {
    position: relative;
    width: 320px;
    font-family: Courier New, Courier, monospace;
    color: #337ab7;
}

.login__legend {
    font-size: 1rem;
    font-weight: 700;
}

.login__fieldeset {
    border: 2px solid #337ab7;
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: 700;
}

.login__label {
    font-size: 0.9rem;
    font-weight: 300;
    cursor: pointer;
}

.login__input {
    width: 200px;
    color: #333;
    border: 1px solid #337ab7;
    font-size: 0.8rem;
    font-weight: 700;
}
