.repos {
  list-style: none;
  margin: 0;
  padding: 0;
}
.repos__item {
  padding: 20px 10px;
  border-bottom: 1px #e1e4e8 solid;
  cursor: pointer;
}

.repos__item:focus, .repos__item:hover {
  box-shadow: -1px -1px 9px 1px rgba(0,0,0,0.08);
  outline: none;
}

.repo {
  color: #586069;
  font-family: Helvetica, Arial, sans-serif;
}

.repo__title {
  font-family: Courier New, Courier, monospace;
  margin: 0 0 10px 0;
}
.repo__link, .repo__link:active {
  color: #337ab7;
  text-decoration: none;
  position: relative;
}



.repo__link::after {
  content: '';
  position: absolute;
  background-color: #337ab7;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleY(0);
  transition: transform .3s;
}
.repo__link:hover::after {
 transform: scaleY(1)
}
.repo__fork {
 font-size: 0.8rem;
  color: orange;
  font-weight: 700;
  margin-bottom: 10px;
}
.repo__fork-link, .repo__fork-link:active {
  color: #586069;
  text-decoration: none;
}
.repo__fork-link:hover {
  color: #337ab7;
}
.repo__desq {
  font-size: 0.9rem;
}
.repo__footer {
  font-size: 0.9rem;
}
.repo__lang-logo {
  display: inline-block;
  width:10px;
  max-width: 10px;
  height:10px;
  border-radius: 50%;
}
.repo__lang {
  margin: 0 10px 0 0;
}
.repo__graf-link, repo__graf-link:active, .repo__star-link,  .repo__star-link:active{
  display: inline-block;
  margin: 0 10px;
  font-size: 0.9rem;
  text-decoration: none;
  color: #586069;
}
 .repo__graf-link svg, .repo__star-link svg {
   fill: #586069;
   vertical-align: bottom;
 }
 .repo__forks, .repo__stars {
   vertical-align: top;
   margin-left: 5px;
 }
.repo__graf-link:hover svg, .repo__star-link:hover svg{
  fill: #337ab7;
}
.repo__graf-link:hover .repo__forks, .repo__star-link:hover .repo__stars {
  color: #337ab7;
}
.repo-time {
}
.repo__languages-title, .repo__contributors-title, .repo__pulls-title {
  margin-bottom: 5px;
  font-weight: 700;
}
.repo__languages, .repo__contributors, .repo__pulls {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.repo__languages li, .repo__contributors li, .repo__pulls li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}
.repo__languages li span, .repo__contributors li span, .repo__pulls li span, .repo__contributors li a, .repo__pulls li a{
  margin-left: 10px;
  flex: 1 1 30%;
}
.repo__languages li span:first-child, .repo__contributors li span:first-child , .repo__pulls li span:first-child{
  margin-left: 0;
}
.repo__language a,
.repo__language a:active,
.repo__contributors a,
.repo__pulls a,
.repo__contributors a:active,
.repo__pulls a:active {
  font-size: 0.9rem;
  color: #337ab7;
  text-decoration: none;
  position: relative;
}
.repo__language a:hover,
.repo__contributors a:hover,
.repo__pulls a:hover{
  text-decoration: underline;
}