form.filters
    fieldset.filters__fieldeset
        legend.filters__legend Filters
        ul.filters__list
            li.filters__item
                input.filters__input(type="checkbox" id="h-oi-count" name="h-oi-count" value="has-issue")
                label.filters__label(for = "h-oi-count") Has open issues
            li.filters__item
                input.filters__input(type="checkbox" id="h-topics" name="h-topics" value="has-topics")
                label.filters__label(for = "h-topics") Has topics
            li.filters__item
                input.filters__input(type="text" id="starred" name="starred" value="")
                label.filters__label(for = "starred") Starred >= X times
            li.filters__item
                input.filters__input(type="text" id="updated" name="updated" value="")
                label.filters__label(for = "updated") Updated after X date
            li.filters__item
                div.filters__block
                    .filters__block-title Repo type
                    ul.filters__list
                        li.filters__item
                            input.filters__input(type="radio" id="t-all" name="f-type" value="all")
                            label.filters__label(for = "t-all") All
                        li.filters__item
                            input.filters__input(type="radio" id="t-forks" name="f-type" value="forks")
                            label.filters__label(for = "t-forks") Forks
                        li.filters__item
                            input.filters__input(type="radio" id="t-source" name="f-type" value="source")
                            label.filters__label(for = "t-source") Sources
        div.filters__block
            .filters__block-title Language
            ul.filters__list
                li.filters__item
                    input.filters__input(type="radio" id="l-js" name="lang" value="js")
                    label.filters__label(for = "l-js") Js
                li.filters__item
                    input.filters__input(type="radio" id="l-html" name="lang" value="html")
                    label.filters__label(for = "l-html") Html
                li.filters__item
                    input.filters__input(type="radio" id="l-css" name="lang" value="css")
                    label.filters__label(for = "l-css") Css
                li.filters__item
                    input.filters__input(type="radio" id="l-other" name="lang" value="other")
                    label.filters__label(for = "l-other") Other


    fieldset.filters__fieldeset
        legend.filters__legend Sorting
        ul.filters__list
            li.filters__item
                input.filters__radio(type = "radio", name = "sort", id = "r-name" value = "name" checked)
                label.filters__label(for = "r-name") Repo name
            li.filters__item
                input.filters__radio(type = "radio", name = "sort", id = "s-count" value = "count")
                label.filters__label(for = "s-count") Stars count
            li.filters__item
                input.filters__radio(type = "radio", name = "sort", id = "oi-count" value = "issue")
                label.filters__label(for = "oi-count") Open issues count
            li.filters__item
                input.filters__radio(type = "radio", name = "sort", id = "u-date" value = "date")
                label.filters__label(for = "u-date") Updated date