.projects
    section.projects__section
        .filters filters
    section.projects__section
        ul.repos.projects__list
            li.repos__item
                .section.repo
                    header.repo__header
                        h3.repo__title
                            a.repo__link(href="/") One
                        span.repo__fork Forked from
                            a.repo__fork-link(href="/") Company
                    main.repo__main
                        p.repo__desq lorem iasda asdasdad  asd asd asdd asd as ad asdasdsdasda as asd asd asd asda a asd asd asd asd asd asd asd asd
                    footer.repo__footer
                        span.repo__lang-logo(style="background-color:#f1e05a;")
                        span.repo__lang JavaScript
                        a.repo__graf-link(href="/")
                            svg(aria-label="fork" class="octicon octicon-repo-forked" height="16" role="img" version="1.1" viewBox="0 0 10 16" width="10")
                                path(fill-rule="evenodd" d="M8 1a1.993 1.993 0 0 0-1 3.72V6L5 8 3 6V4.72A1.993 1.993 0 0 0 2 1a1.993 1.993 0 0 0-1 3.72V6.5l3 3v1.78A1.993 1.993 0 0 0 5 15a1.993 1.993 0 0 0 1-3.72V9.5l3-3V4.72A1.993 1.993 0 0 0 8 1zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3 10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3-10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z")
                            span.repo__forks 20
                        span.repo-time Updated 5 февр. 2017 г
            li.repos__item
                .section.repo
                    header.repo__header
                        h3.repo__title
                            a.repo__link(href="/") Two
                        span.repo__fork Forked from
                            a.repo__fork-link(href="/") Desity
                    main.repo__main
                        p.repo__desq sdad asd asdasjd adhasjd jkhkjasdhaksdhajsdhakjsdh akjshdkajsd akjsdh aksdhak sdhaksjdhakjsdhakjsdhakjsdh akjshdkjashdkajshdkajshdkas dashdkajsdhkajsdhakjsdha sahkjshdkajsdhakjshdakjshdakjsd asdhaksdjhajksdh asdakjsdhkasdhajkshd askjdhakshd asdakjsdhakjsdhaksdh
                    footer.repo__footer
                        span.repo__lang-logo(style="background-color:#f1e05a;")
                        span.repo__lang JavaScript
                        a.repo__graf-link(href="/")
                            svg(aria-label="fork" class="octicon octicon-repo-forked" height="16" role="img" version="1.1" viewBox="0 0 10 16" width="10")
                                path(fill-rule="evenodd" d="M8 1a1.993 1.993 0 0 0-1 3.72V6L5 8 3 6V4.72A1.993 1.993 0 0 0 2 1a1.993 1.993 0 0 0-1 3.72V6.5l3 3v1.78A1.993 1.993 0 0 0 5 15a1.993 1.993 0 0 0 1-3.72V9.5l3-3V4.72A1.993 1.993 0 0 0 8 1zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3 10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3-10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z")
                            span.repo__forks 20
                        span.repo-time Updated 5 февр. 2017 г
        a.projects__link.visually-hidden(href="/" id="loadMore") Link
