.projects.visually-hidden
    section.projects__section
        include filters
    section.projects__section
        ul.repos.projects__list
        a.btn.projects__link.visually-hidden(href="/" id="loadMore") Load More
