.projects
    section.projects__section
        .filters filters
    section.projects__section
        ul.repos.projects__list
            li.repos__item item
            li.repos__item item
            li.repos__item item
        a.projects__link.visually-hidden(href="/" id="loadMore") Link
